.heed{
    padding: 50px 25px 0px;
}

.form-search-heed{
    float: none;
    text-align: center;
    margin-top: 25px;

}
.carousel-control.left{
    background-image: none;
}
.carousel-control.right{
    background-image: none;
}
.form-search-heed .input-group{

    height: 40px;
    width: 300px;
}
.input-group input{
    border-radius: 20px 0px 0px 20px;
    height: 40px;
}
.input-group a{

    border-radius: 0px 20px 20px 0px;
}
.input-group a img{
    width: 21px;
}

.icon-group{
    margin-top: 25px;
}
.icon-group img{
    padding-left: 20px;
    padding-right: 20px;
}
.container{
    margin-top: 0;
}
.carousel{
    background: rgba(42, 116, 157, 0.09);
    height: 400px;
}
.carousel img{
    height: 400px;
}
.promo{
    background-color: #aaaaaa;
}
.ahtung{
    font-size: large;
    color: #b92c28;
}
td,th {text-align:center;}
.calendar{
    margin-left: 20px;
    border-collapse: separate;
    border-spacing: 4px;
}

.btn_selected{
    border: 1px #000000 solid
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.navbar-collapse{
    background: #99c9e9ff;

}
.logo{
    position: fixed;
    left: 3px;
    z-index: 1;
    top: 40px;
}

.basket{

    position: fixed;
    bottom: 15px;
    z-index: 1;
    display: none;
    right: 15px;
}

.img-nav-bar{

    width:auto;
    max-height: 50px;
}
#link-naw-bar{
    padding-top: 0;
    padding-bottom: 0;
}
.card-content{
    bottom: 0;
 }
.count_product{
    top: 3px;
    border-radius: 3px;
    background: rgba(255, 14, 14, 0.73);
    color: #0f0f0f;
}
#PatternProduct{
    display: none;
}
.vertical_center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.center{
    display: block;
    margin: 0 auto;
}
.lk{
    display: none;
}
.reg{
    display: none;
}