.menu{

}
.promo{
    background-color: #aaaaaa;
}
.ahtung{
    font-size: large;
    color: #b92c28;
}
td,th {text-align:center;}
.calendar{
    margin-left: 20px;
    border-collapse: separate;
    border-spacing: 4px;
}

.btn_selected{
    border: 1px #000000 solid
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.card-content{
    bottom: 0;
 }
#PatternProduct{
    display: none;
}
.vertical_center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.center{
    display: block;
    margin: 0 auto;
}